* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
}

body {
  background: var(--gray-light);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  width: 90%;
  margin: auto;
  padding: 5% 0;
}

.main {
  padding: 2rem 0;
}

.not-entries {
  text-align: center;
  font-size: 2rem;
  color: #444;
}