.header {
  background: var(--gray-light);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--burguer {
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 5px;

      span {
        width: 100%;
        height: 5px;
        border-radius: 5px;
        background: rgb(63, 63, 63);
      }
    }

    &--img {
      width: 35px;
      height: 35px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: 0 0 4px rgba(63, 63, 63, .5);
      }
    }
  }

  &__main {
    padding: 1rem 0;

    p {
      color: var(--grey);
      font-size: 1em;
    }

    h2 {
      font-size: 3em;
      color: var(--dark);
      margin: .5rem 0;
      font-weight: bold;
    }

    button {
      border: none;
      background: transparent;
      border-radius: 5px;
    }

    .open__addIngreso {
      display: block;
      padding: .6rem 1rem;
      color: var(--blue);
      background: var(--blue-light);
    }
  }

  &__categories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 1rem 0;

    &--card {
      width: 75px;
      border-radius: 10px;
      background: var(--primary);
      box-shadow: 0 0 7px rgba(107, 107, 107, 0.486);
      padding: .5rem;
      cursor: pointer;

      div {
        width: 100%;
        height: auto;
        padding: .5rem .5rem 0 .5rem;
        text-align: center;

        img {
          width: 80%;
          object-fit: cover;
        }
      }

      p {
        text-align: center;
        color: var(--grey);
        font-size: .8em;
        text-transform: capitalize;
      }
    }
  }
}