.list__gastos {
  width: 100%;
  margin-top: 2rem;

  .item__gastos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(206, 206, 206);
    margin: 1.5rem 0;
    border-radius: 5px;
    color: #444;
    padding: 0.5rem 1rem;
    &--info {
      display: flex;
      align-items: center;
      h2 {
        line-height: 18px;
        p {
          font-weight: 500;
          font-size: 0.7em;
          color: #444444;
        }
        small {
          font-size: 0.6em;
          color: #999999;
          font-weight: normal;
        }
      }

      img {
        display: block;
        margin-right: 1rem;
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    .final-price {
      font-weight: 700;
      color: #444444;
    }
  }
}
