.modal__addIngreso {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;

  &--content {
    margin: 0.5rem 0;
    max-width: 400px;
    padding: 0.5rem 1rem;
    background: var(--gray-light);
    border-radius: 7px;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid var(--grey);
    background: transparent;
    margin: 0.5rem 0;
  }

  &--btn {
    color: white;
    height: inherit;
    padding: 0.5rem;
    background: var(--blue) !important;
  }

  &--btnClose {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -0.5rem;
    background: #333 !important;
    color: white;
    right: -0.5rem;
    border-radius: 50% !important;
    cursor: pointer;
  }
}
