@import "./__var";
@import "./__base";
@import "./_formLogin";

.root {
  min-height: 100vh;
  padding: 50px;
  width: 90%;
  max-width: 920px;
  margin: auto;
  background: var(--primary);

  .header {
    width: 100%;

    &__top {
      display: flex;
      justify-content: space-between;
    }
  }

  .links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    li {
      padding: 1rem 2rem;
      color: var(--dark);
    }
  }
}