@import "./__var";
@import "./__base";
@import "./_formLogin";
@import "./_header";

.root {
  min-height: 100vh;
  padding: 75px;
  width: 85%;
  max-width: 920px;
  margin: auto;
  background: var(--primary);
}