:root {
  --primary: #fffeee;
  --dark: #445544;
  --grey: #EDEDED;

  --radius-input: 4px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--grey);
}

.root {
  min-height: 100vh;
  padding: 50px;
  width: 90%;
  max-width: 920px;
  margin: auto;
  background: var(--primary);

  .header {
    width: 100%;

    &__top {
      display: flex;
      justify-content: space-between;
    }
  }

  .links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    li {
      padding: 1rem 2rem;
      color: var(--dark);
    }
  }
}